

header{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   display: flex;
    background-color: #302503;    
    padding: 30px;
    height: 200px;
    align-items: center;
    font-size: 20px;
}
h1{
  padding-top: 10px;
}
.menu li{
  display: inline;
    margin: 35px;
    font-size: 35px;
}
h3{
  width: auto;
  padding-top: 10px;
    height: 50px;
    background-color: #4d3d09fb;

  text-align: center;

}
.banner{
  img{
display: flex;
  width: 700px;
  height: auto;
padding: 10px;
  background-color: #c0bfba;
  border-radius: 10px;
  }
 
}
.button {
    background-color: #2f0618; /* Green */
    border: none;
    color: white;
    padding: 7px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }
  .button1 {
    background-color: rgb(255, 255, 255); 
    color: black; 
    border: 2px solid #000000;
  }
  
  .button1:hover {
    background-color: #c0c51f81;
    color: white;
  }  
img{
   
    border-radius: 40px;
    padding: 10px;
    width: 200px;

}

  
  .conterner{
    width: 100%;
    height: 450px;
    background-color: #6b4a0efb;
    
    text-align: center; 
 }
  
  
a:link{
  text-decoration: none;
  color: #000000;
}
a:visited{
  text-decoration: none;
  color: hsl(0, 0%, 1%);
    }
    
    form{
      margin: 0 auto;
      width: 400px;
      background-color: rgb(37, 113, 255);
      padding: 1px;
      border: 5px solid #ccc;
      border-radius: 1px;
    }
    form div {
      margin-top: 3px;
  }
  label{
      display:inline-block;
      width:90px;
      text-align: right;
  }
  input,textarea{
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    border: 1px solid #999;
  }
  imput:focus,
  textarea:focus{
    border-color: #000000;

  }
  textarea{
    vertical-align: top;
    height: 5em;
    resize:vertical;
  }
  *{
    margin: 0;
    border: 0;
    padding: 0
  }
  
  body{
    background: rgb(63, 35, 8);
background: linear-gradient(90deg, rgba(68,38,7,1) 41%, rgba(181,174,160,1) 100%);
  }
  
  .card-row{
    max-width: 1600px;
    height: 400px;
    margin: 35px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
  
  }
  
  .card{
    position: relative;
    height: 300px;
    width: 220px;
   background-color: #ccc;
    border-radius: 5px;
   overflow:hidden;
    -webkit-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
    z-index: 1;
    overflow: hidden;
    -webkit-box-shadow: 5px 4px 15px rgba(196,196,196 , .4);
            box-shadow: 5px 4px 15px rgba(196,196,196 , .4);
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
  
    &-image{
      position: absolute;
      top:0;
      height: 540px;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      z-index: -1;
      -webkit-transition: .4s all ease-in-out;
      -o-transition: .4s all ease-in-out;
      transition: .4s all ease-in-out;
    }
  
    &-footer{
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 130px;
      padding: 20px 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
  
  
    &-title{	
      font-family: 'Grenze', serif;
      font-size: 18px;
      line-height: 11px;
      margin-bottom: 10px;
      letter-spacing: 0.04em;
    }
  
  
    &-text{
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      margin-bottom: 10px;
      line-height: 14px;
      letter-spacing: 0.07em;
  
        &:last-child{
          letter-spacing: unset;
  
        }
  
      .card-author{
        font-weight: 500;
        font-size: 16px;
        font-style: italic;
          color: rgb(81, 53, 18) 0;
          text-transform: capitalize;
      }
    }
  
    &:hover{
      height: 410px;
      -webkit-transition: .4s all cubic-bezier(.28,.01,.3,1.02) .2s;
      -o-transition: .4s all cubic-bezier(.28,.01,.3,1.02) .2s;
      transition: .4s all cubic-bezier(.28,.01,.3,1.02) .2s;
      margin-left: 40px;
      margin-right: 40px;
      box-shadow: 20px 25px 30px rgba(0, 0, 0, 0.25);
  
  
      .card-image{
        -webkit-transition: .4s all cubic-bezier(.28,.01,.3,1.02) .2s;
        -o-transition: .4s all cubic-bezier(.28,.01,.3,1.02) .2s;
        transition: .4s all cubic-bezier(.28,.01,.3,1.02) .2s;
        height: 100%;
        opacity: .3
      }
    }
  }





